{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    {{- if .GitInfo }}
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
        <circle cx="12" cy="12" r="4"></circle>
        <line x1="1.05" y1="12" x2="7" y2="12"></line>
        <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
      </svg>

      <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
      @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}
    </p>
    {{- end }}
    <style>
    h1 {
        margin: 0
    }
    .content {
        margin: 2em;
    }
    .feather {
        display: inline-block;
        vertical-align: -.125em;
        width: 1em;
        height: 1em;
    }
    p {
        font-size: 0.8rem;
        line-height: normal;
    }
    </style>

    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            <!-- {{ partial "subtitle.html" . }} -->

        </div>

        <div class="homepage-content" style="text-align: left">
            <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
            {{.Content}}
        </div>
        {{- with .Site.Params.social }}
        {{ partial "social-icons.html" . }}
        {{- end }}
        <div>
        {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
        {{ end }}
        </div>
    </main>
{{ end }}
