{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            <!-- {{ partial "subtitle.html" . }} -->

        </div>

        <div class="homepage-content" style="text-align: left">
            <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
            {{.Content}}
        </div>
        {{- with .Site.Params.social }}
        {{ partial "social-icons.html" . }}
        {{- end }}
        <div>
        {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
        {{ end }}
        </div>
    </main>
{{ end }}
